<div class="ml-auto mr-auto text-center" style="margin-top: 50px;">
    <h2 class="title">Déposer une annoce de vente d'entreprise</h2>
    <h3 class="description">Réseau social professionnel pour Vendre son entreprise, Reprendre une entreprise ou
        Lever des fonds en Tunisie, Connectez-vous d’un clic avec des repreneurs, des cédants, des investisseurs et
        des professionnels de la transmission d’entreprises en toute confidentialité</h3>
</div>

<div class="separator separator-primary"></div>
<div class="section section-contact-us text-center">
    <form [formGroup]="deposerAnnonce">
        <div class="container deposerAnnonceBlock">
            <div class="row mt-3">
            <input class="col-md-4 ml-5"  type="file">
            <input class="col-md-3 mr-5" formControlName="nomEntreprise" type="text" placeholder="Nom d'entreprise" />
            <input  class="col-md-3" formControlName="prix" type="number" placeholder="Prix en TND" id="Prix" />  
        </div>       
            <div class="row mt-3">   
                <select class="col-md-5 selectpicker input-price" formControlName="secteur" name="Secteur d'activiter">
                    <option style="background-color: rgb(255, 120, 24);" [disabled]="true" >Secteur
                        d'activiter</option>
                    <option value="Activités immobilières, Financières et Assurances">Activités immobilières,
                        Financières et Assurances</option>
                    <option value="Artisanat, Batimenet, Second oeuvre, BTP">Artisanat, Batimenet, Second oeuvre,
                        BTP</option>
                    <option value="Cafés, Hotels, Restaurants, Hébergements touristiques">Cafés, Hotels,
                        Restaurants, Hébergements touristiques</option>
                    <option value="Commerces alimentaires">Commerces alimentaires</option>
                    <option value="Industrie, Production, Agriculture">Industrie, Production, Agriculture</option>
                    <option value="Informatique et télécommunications">Informatique et télécommunications</option>
                    <option value="Internet, E-commerce, App. mobile, VPC">Internet, E-commerce, App. mobile, VPC
                    </option>
                    <option value="Transports, Logistique, Entreposage">Transports, Logistique, Entreposage</option>
                    <option value="Services aux entreprises">Services aux entreprises </option>
                    <option value="Services aux particuliers">Services aux particuliers</option>
                    <option value="Autres">Autres</option>
                </select>

                <select class="col-md-5 selectpicker input-price" formControlName="localisation">
                    <option  style="background-color: rgb(255, 120, 24);" [disabled]="true">Localisation
                    </option>
                    <option value="Ariana">Ariana
                    </option>
                    <option value="Béja">Béja
                    </option>
                    <option value="Ben Arous">Ben Arous                        
                    </option>
                    <option value="Bizert">Bizert
                    </option>
                    <option value="Gabes">Gabes
                    </option>
                    <option value="Gafsa">Gafsa
                    </option>
                    <option value="Jendouba">Jendouba
                    </option>
                    <option value="Kairouan">Kairouan
                    </option>
                    <option value="Kasserine">Kasserine
                    </option>
                    <option value="Kébili">Kébili
                    </option>
                    <option value="Le Kef">Le kef
                    </option>
                    <option value="Mahdia">Mahdia
                    </option>
                    <option value="La Manouba">La Manouba
                    </option>
                    <option value="Médenine">Médenine
                    </option>
                    <option value="Monastir"> Monastir                        
                    </option>
                    <option value="Nabeul">Nabeul
                    </option>
                    <option value="Sfax">Sfax
                    </option>
                    <option value="Sidi Bouzid">Sidi Bouzid
                    </option>
                    <option value="Siliana">Siliana
                    </option>
                    <option value="Sousse">Sousse
                    </option>
                    <option value="Tataouine">Tataouine
                    </option>
                    <option value="Tozeur">Tozeur
                    </option>
                    <option value="Tunis">Tunis
                    </option>
                    <option value="Zaghouan">Zaghouan
                    </option>
                </select>      
            </div>  
            <div class="container row mt-3">
            <input class="col-md-10 " formControlName="detail" type="text" placeholder="détail"
                />         </div>
            <a (click)="ADD()" type="buttons" id="formSearchSubmit" class="btn btn-primary btn-theme pull-right"
                >
                Déposer l'annonce</a>


        </div>
    </form>
</div>
<app-annonce-repreneurs-list></app-annonce-repreneurs-list>