<div class="container">
    <div class="row">
        <!-- CONTENT -->
        <div class="col-md-9 content car-listing" id="content">



            <div class="row">
                <div class="col-md-12">
                    <div class="thumbnail no-border no-padding thumbnail-car-card clearfix">
                        <div *ngFor="let c of container; let i=index" class="mb-5">
                            <div class="media">
                                <a class="media-link" data-gal="prettyPhoto" href="#">
                                    <img src="assets/img/bg1.jpg" alt="" class="img-raised" />
                                    <!-- <img src="assets/img/bg1.jpg" alt="" class="img-raised"> -->
                                </a>
                            </div>
                            <div class="caption">
                                <h4 class="caption-title"><a href="#">{{c.nomEntreprise}}, {{c.localisation}},
                                    </a></h4>
                                <h5 class="caption-title-sub">{{c.prix}} TND</h5>
                                <div class="caption-text mb-4">{{c.detail}}</div>
                                <div class="row annonce_table">

                                    <p class="col-md-2">10/08/1192</p>
                                    <p class="col-md-2">
                                        <i class="fa fa-map-marker-alt"></i>
                                        <span class="pl-1">{{c.localisation}}</span>
                                    </p>
                                    <div class="col-md-4 d-flex">
                                        <p><i class="fa fa-cog"></i></p>
                                        <p class="pl-1">{{c.secteur}}</p>
                                    </div>
                                    <p class="col-md-2"><i class="fa fa-money-bill"></i>{{c.prix}} DT</p>
                                    <p class="buttons col-md-1">
                                        <a class="btn btn-warning" [routerLink]="['/modifier-annonce-repreneurs', i]">
                                            <i class="material-icons text-orange pr-1 fs-1-5">edit</i>
                                            </a>
                                    </p>
                                    <p class="buttons col-md-1">
                                        <a class="btn btn-danger" (click)="delete(i)">
                                            <i class="material-icons text-orange ">delete</i>

                                        </a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>