<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="exampleModalLabel1">Update</h4>
      <button type="button" routerLink='/deposer-offre-entreprise' class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]='modifier'>
        <div class="form-group">
          <label for="recipient-name"  class="col-form-label">Email:</label>
          <input type="text" formControlName='email' placeholder="Saisissez votre email" class="form-control" id="recipient-name1">
        </div>
        <div class="form-group">
          <label for="message-text" class="col-form-label">Mot de Passe</label>
          <input type="text" formControlName='password' placeholder="Mot de passe" class="form-control">
        </div>
        <div class="form-group">
          <label for="message-text" class="col-form-label">Confirmez votre mot de passe </label>
          <input type="text" formControlName='confirmMotDePasse' placeholder="Confirmez votre mot de passe" class="form-control">
        </div>
      </form>
    </div>
    <div class="text-center">
      <button type="submit" (click)="save()" class="btn btn-primary">Save</button>
    </div>
  </div>

</div>
